:root {
    --color-principal: #E0F2F1;
    --color-principal-header: #A0F2F1;
    --color-texto-contenido: #673AB7;
    --color-botones: #FFCA28;
    --color-resaltado: #D81B60;
    --color-separadores: #424242;
}
